<!--FULLSCREEN SLIDESHOW -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../assets/img/banner/banner3.png" alt="Banner1">
      <div class="carousel-caption">
        <h3 class="carousel-caption-h3">New York</h3>
        <p>The atmosphere in New York is lorem ipsum.</p>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/img/banner/banner2.jpg" alt="Banner2">
      <div class="carousel-caption">
        <h3 class="carousel-caption-h3">Chicago</h3>
        <p>Thank you, Chicago -</p>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/img/banner/banner4.png" alt="Banner3">
      <div class="carousel-caption">
        <h3 class="carousel-caption-h3">LA</h3>
        <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--FULLSCREEN SLIDESHOW END-->


<!-- 3er Block mit Bildern -->

<div class="banner">
  <div class="banner-center-container">
    <div class="row">
      <div class="col-md-4">
        <div class="column-banner">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="column-banner-img" src="../../assets/img/block/hautfreundlicher.jpg" alt="block1" style="width:100%">
          <div class="column-banner-text">
            <h3 class="column-banner-header">Hautfreundlich</h3>
            <p>
              Ich lege besonders Wert auf die Auswahl der verwendeten Stoffe.
              Nicht nur Haptik und der perfekte Fall spielen eine große Rolle bei der Auswahl, sondern auch das Hautgefühl welches das Kleid bietet.
              Es werden ausschließlich echte Materialien von mir verwendet und keine synthetischen Stoffe.
            </p>
          </div>
          <!--</a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="column-banner">
          <img class="column-banner-img" src="../../assets/img/block/uebermich.jpg" alt="block2" style="width:100%">
          <div class="column-banner-text">
            <h3 class="column-banner-header">Über mich</h3>
            <p>

              Ich hab mein Wissen und Können stetig verbessert und präsentiere euch Heute, 6 Jahre später,
              stolz meine neusten Kollektionen auf meiner Homepage und auf immer wiederkehrenden Ausstellungen.
              Inspiriert werde ich durch aktuelle Trends und setzt meine eigenen Ideen realistisch und liebevoll um.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column-banner">
          <img class="column-banner-img" src="../../assets/img/block/handgemacht.jpg" alt="Lblock3" style="width:100%">
          <div class="column-banner-text">

            <h3 class="column-banner-header">Handgemacht</h3>
            <p>
              Alle Kleider sind handgefertigt und nur in limitierter Anzahl verfügbar.
              Alle Arbeitsvorgänge werden von mir nach und nach selbst gemacht.
              So kann ich eine hohe Qualität gewährleisten.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
