<section class="wrap-center">
  <h1 style="text-align: center;margin-bottom: 50px;margin-top: 50px;"><strong class="paragraph" style="font-size: 24px;">Datenschutzerklärung </strong></h1>


  <p class="paragraph">Wir freuen uns über Ihren Besuch unserer Webseite. Im Folgenden informieren wir Sie darüber, welche personenbezogenen Daten wir erheben und was mit diesen Daten passiert, wenn Sie unsere Webseite besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Sie erhalten außerdem Informationen zu Ihren sich aus der EU-Datenschutzgrundverordnung (EU-DSGVO) ergebenden paragraphen als Betroffener.</p>
  <br/>
  <p class="paragraph">
    <strong class="paragraph">
      Verantwortlichkeiten<br/>
      Verantwortlicher im Sinne der EU-Datenschutzgrundverordnung (EU-DSGVO) ist</strong><br/>
    Geschäftsführerin:<br/>
    Angelina Sousa<br/>
    <br/>
    Kontakt:<br/>
    E-Mail: Angelinasousa@web.de<br/>
    Ust.-IdNr.:  XXXXX<br/>
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Allgemeines zur Datenverarbeitung<br/>
      1. Umfang der Verarbeitung personenbezogener Daten</strong><br/>
    Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit es für die Bereitstellung einer funktionsfähigen Webseite sowie unserer Inhalte und Leistungen erforderlich ist.<br/>
  </p>

  <p class="paragraph"><strong class="paragraph">
    2. Verschlüsselung</strong><br/>
    Diese Webseite nutzt zum Schutz der Übertragung vertraulicher Inhalte, wie z.B. Anfragen,die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von http://“ auf https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn diese Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.<br/>
  </p>
  <p class="paragraph"><strong class="paragraph">
    3. Bereitstellung der Webseite und Erstellung von Logfiles </strong><br/>
    Bei jedem Aufruf unserer Webseite erfasst unser System automatisch Daten und Informationen des aufrufenden Rechners. Hierbei werden möglicherweise folgende Daten erhoben:<br/>
  </p><ul class="paragraph">
  <li>IP-Adresse des Nutzers</li>
  <li>Informationen über den Browsertyp</li>
  <li>Informationen über die verwendete Version des Browsertyps</li>
  <li>Betriebssystem des Nutzers</li>
  <li>Internetserviceprovider des Nutzers</li>
  <li>Datum und Uhrzeit des Zugriffs</li>
  <li>Webseite von dem der Nutzer auf unsere Seite gelangt ist</li>
  <li>Webseiten, die vom System des Nutzers über unsere Webseite aufgerufen wurden.</li>
</ul>
  <p class="paragraph"><p class="paragraph">
  Diese Daten werden in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt. paragraphsgrundlage für diese Datenverarbeitung sind zum einen unsere beparagraphigten Interessen gem. Art. 6 Abs. 1 lit. f EU-DSGVO an der Analyse unserer Webseite und ihrer Nutzung, ggf. auch die gesetzliche Erlaubnis zur Speicherung von Daten im Rahmen der Anbahnung eines Vertragsverhältnisses gem. Art. 6 lit. b EU-DSGVO.
</p>
  <br/><p class="paragraph"><strong class="paragraph">4. Cookies & Lokaler Speicher</strong><br/>
  Unsere Webseite nutzt keine Cookies verwendet aber die Local Storage Technik (auch „Lokale Daten“ und „Lokaler Speicher“ genannt. Dabei werden Daten lokal im Cache Ihres Browsers gespeichert, die auch nach dem Schließen des Browser-Fensters oder dem Beenden des Programms – soweit sie den Cache nicht löschen - weiterhin bestehen und ausgelesen werden können. Local Storage ermöglicht es, dass Ihre Präferenzen bei der Nutzung unserer Webseite auf Ihrem Rechner gespeichert und von Ihnen genutzt werden können. Folgende Informationen werden als lokale Daten hinterlegt.
</p>
  <ul class="paragraph">
    <li>Die Produkte in ihrem Warenkorb unserer Seite</li>
  </ul>
  <p class="paragraph">
    Auf die im Local Storage gespeicherten Daten können Dritte nicht zugreifen. Sie werden an Dritte nicht weitergegeben und auch nicht zu Werbezwecken verwendet.
    Wir verwenden diese Techniken im beparagraphigten Interesse um ihnen ein attraktives voll funktionsfähiges Angebot machen zu können auf Basis von Artikel 6 Abs 1 lit. f DSGVO.
    Wenn Sie nicht wünschen, dass Online-Angebote Cookies- und Local-Storage-Funktionen einsetzen, dann können Sie das in den Einstellungen Ihres jeweiligen Browsers plattformabhängig im Betriebssystem der jeweiligen App steuern. Sie erhalten dort auch einen Überblick über Ihre gespeicherten Cookies. Es ist jedoch möglich, dass dann nicht mehr alle Funktionen unserer Webseite genutzt werden können.
    <br/><br/>
    Kontaktformular und E-Mail-Kontakt<br/>
    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben nur für die Bearbeitung Ihrer Anfrage verwenden. Diese Daten werden nicht an Dritte weitergegeben.<br/>
    Folgende Daten aus der Eingabemaske werden gespeichert:<br/></p>
  <ul class="paragraph">
    <li>Name</li>
    <li>E-Mail</li>
    <li>Artikelnummer/n</li>
    <li>Nachrichtentext</li>
  </ul>
  <br/>
  <p class="paragraph">
    Im Zeitpunkt der Absendung speichert unser System außerdem folgende Daten:<br/>
  </p>
  <ul class="paragraph">
    <li>Datum und Uhrzeit der Kontaktaufnahme</li>
  </ul>
  <br/>
  <p class="paragraph">
    Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert.
    Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a EU-DSGVO), die Sie durch Ausfüllen der Eingabemaske erteilen. Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die paragraphmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
    Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.
  </p><br/> <p class="paragraph"><strong class="paragraph">Analyse-Tools und Werbung</strong><br/>
  <strong class="paragraph">1. Google Maps</strong><br/>
  Wir nutzen über eine API den Kartendienst Google Maps der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.<br/>
  Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu speichern. Diese Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Wir haben keinen Einfluss auf diese Datenübertragung.
  Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an einer leichten Auffindbarkeit der von uns auf der Webseite angegebenen Orte. Dies stellt ein beparagraphigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f EU-DSGVO dar.
  Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google: <br/><br/><a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a><br/><br/>
  Ausführliche Details finden Sie im Datenschutz-Center von google.de: Transparenz und Wahlmöglichkeiten sowie Datenschutzbestimmungen.<br/><br/>
  <a href="https://www.google.com/intl/de_de/help/terms_maps.html">https://www.google.com/intl/de_de/help/terms_maps.html</a><br/>
  <a href="https://policies.google.com/privacy?hl=de&gl=de">https://policies.google.com/privacy?hl=de&gl=de</a><br/>

</p>
</section>
