<section class="wrap-center" >
  <h1 style="text-align: center;margin-bottom: 50px;margin-top: 50px; "><strong class="paragraph" style="font-size: 24px;">Impressum</strong></h1>

  <p class="paragraph">
    <strong class="paragraph">Verantwortlich:</strong><br/>
    Angelina Maria Oliveira Sousa<br/>
    Heidelberger Landstr. 162<br/>
    64297 Darmstadt<br/>
    Deutschland<br/>
  </p>

  <p class="paragraph">
    <strong class="paragraph">Registereintrag:</strong><br/>
    Zulassungsfreies Handwerk<br/>
    Handwerkskammer Rhein Main<br/>
    Hessen<br/>
    https://www.hwk-rhein-main.de/de <br/>
  </p>

  <p class="paragraph">
    <strong class="paragraph">Umsatzsteueridentifikationsnummer:</strong><br/>
    DE316949208<br/>
  </p>


  <p class="paragraph">
    <strong class="paragraph">Geschäftsführerin:</strong><br/>
    Angelina Sousa<br/>
  </p>

  <p class="paragraph">
    <strong class="paragraph">Kontakt:</strong><br/>
    E-Mail: Angelinasousa@web.de<br/>
  </p>

  <p class="paragraph">
    <strong class="paragraph">Haftungshinweis:</strong><br/>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung<br/>
    für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich<br/>
    deren Betreiber verantwortlich.<br/>
  </p>

  <p class="paragraph"><strong class="paragraph">paragraphlicher Hinweis:</strong><br/>
    Die EU hat ein Online-Verfahren zur Beilegung von Streitigkeiten zwischen Unternehmern und Verbrauchern geschaffen.<br/>
    Informationen dazu finden Sie unter<br/>
    <br/>
    <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a><br/>
    <br/>
    Zur Teilnahme an einem Streitbeilegungsverfahren vor<br/>
    einer Verbraucherschlichtungsstelle sind wir<br/>
    nicht verpflichtet und nicht bereit.<br/>
  </p>
</section>
