<section class="wrap-center" >
  <h1 style="text-align: center;margin-bottom: 50px;margin-top: 50px; "><strong class="paragraph" style="font-size: 24px;">FAQs</strong></h1>

  <p class="paragraph">
    <strong class="paragraph">Mir gefällt ein Kleid wie kaufe ich es?</strong><br/>
    Unsere Seite bietet keine Funktion zum Online-kaufen der Produkte an.<br/>
    Schreiben Sie uns einfach eine E-MAIL oder Senden Sie uns über das Kontaktformular eine Anfrage,<br/>
    welche Kleider sie interessieren. Alles Weitere kann dann besprochen werden.
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Wie erreiche ich am besten den Kundenservice?</strong><br/>
    Schicken Sie uns einfach eine Anfrage über das Kontaktformular oder schreiben Sie uns eine E-Mail.
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Werden Kleider auch nach Maß angefertigt?</strong><br/>
    Ja unter Umständen können Kleider nach maß angepasst werden. Meist steht bei den Kleidern dabei,<br/>
    ob dies möglich ist. Wenn wir Ihr Kleid anpassen sollen, teilen sie uns Ihre Maße mit oder kommen <br/>
    sie in unserem Laden vorbei.
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Wie schicke ich meine Bestellung zurück?</strong><br/>
    Haben sie ein Problem mit einem Artikel, können sie uns gerne
    über das Kontaktformular benachrichtigen oder uns eine E-Mail schreiben.
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Ein Kleid, das ich wollte, ist nicht mehr vorrätig. Wann ist es wieder da?</strong><br/>
    ????
  </p>

  <p class="paragraph">
    <strong class="paragraph">
      Ich habe allgemein Fragen zu einem Kleid?</strong><br/>
    Benachrichtigen sie uns über das Kontaktformular oder schreiben sie und eine E-Mail,
    mit ihrer Frage und der Artikelnummer des Kleides.
  </p>
</section>
